/** CSS STYLE **/

:root {
  --color-white: #fff;
  --color-white-50: #d7ccc0;
  --color-light: #f5f4f0;
  --color-primary: #fe8a02;
  --color-primary-dark: #42413c;
  --color-dark: #2a2626;
  --color-dark-50: #908d8b;
  --color-brown: #b09a81;
  --color-blue: #1085c5;
  --font-size-title-large: 72px;
  --font-size-title-medium: 60px;
  --font-size-title-small: 34px;
  --line-height-title: 1.2em;
  --font-color-main: #2a2626;
  --primary-font: neucha, arial, sans-serif;

  /* переменные, связанные с основным текстом */
  --font-main-text: "Open Sans", arial, sans-serif;
  --font-size-main-text: 16px;
  --line-height-main-text: 1.6em;
  --main-text-margin: 7px;
}

* {
  box-sizing: border-box;
}

.page-content {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  color: var(--font-color-main);

  font-size: var(--font-size-normal);

  font-family: var(--primary-font);

  line-height: var(--line-height-content);
}

.page-main-content {
  flex-grow: 1;
}

[class*="title"] {
  line-height: var(--line-height-title);
}

.title-large {
  font-weight: normal;
  font-size: var(--font-size-title-large);
}

.title-medium {
  font-weight: normal;
  font-size: var(--font-size-title-medium);
}

.title-small {
  font-weight: normal;
  font-size: var(--font-size-title-small);
}

.button {
  display: inline-block;
  width: 148px;
  height: 49px;
  padding: 12px 24px;

  color: var(--color-white);
  text-decoration: none;

  background-color: var(--color-primary);
}

.font-primary-color {
  color: var(--color-primary);
}

.container {
  width: 1440px;

  margin: 0 auto;
  padding: 100px 165px;
}

.image-background {
  position: relative;
}

.image-background * {
  position: relative;
  z-index: 2;
}

.image-background::before {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 100%;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

.white-background {
  background-color: var(--color-white);
}

.light-background {
  background-color: var(--color-light);
}

.brown-background {
  background-color: var(--color-brown);
}

.example-header {
  display: flex;
  padding: 100px 0;
}

.example-header-reversed {
  flex-direction: row-reverse;
}

.example-image {
  display: block;
}

.example-definition::before {
  font-size: 24px;

  content: "Когнитивные искажения";
}

/*  колонки с основным текстом   */

.columns {
  display: flex;
}

.column-container {
  width: 540px;
  margin-right: 30px;
}

.column-container:last-child {
  margin-right: 0;
}

.fragment {
  margin: 0;
  margin-bottom: var(--main-text-margin);
}

.fragment:last-child {
  margin-bottom: 0;
}

/*  псевдоэлемент Как проявляется

.example-cols::before {
  display: block;
  margin-bottom: 20px;
  padding-left: 10px;

  column-span: all;

  content: "Как проявляется";
}

.example-col {
  margin: 0;
}

*/

/* настройка шрифтов

.column.secondary-font {
  font-family: var(--secondary-font);
  line-height: var(--line-height-content);
}

.example-cols.secondary-font::before {
  color: var(--color-white);

  font-weight: bold;
  font-size: 14px;

  font-family: var(--secondary-font);

  background-color: var(--color-brown);
}

.brown-background .example-cols.secondary-font::before {
  color: var(--color-brown);

  background-color: var(--color-white);
}

.brown-background .example-col.secondary-font {
  color: var(--color-white);
} */

.main-text {
  font-size: var(--font-size-main-text);
  font-family: var(--font-main-text);
  line-height: var(--line-height-main-text);
}

.text-bold {
  font-weight: bold;
}

.text-uppercase {
  text-transform: uppercase;
}

/* секция header */

.header {
  position: relative;
}

.header-image {
  position: absolute;
  top: 55px;
  left: 461px;

  height: 525px;
}

.header-button {
  position: relative;
  left: 570px;
}

.header-cols {
  margin-bottom: 40px;
  padding-top: 25px;
}

.header-title {
  position: relative;

  margin-top: 0;
  margin-bottom: 180px;
}

/* секция с видео */

.video-section {
  position: relative;

  padding-bottom: 475px;

  border-bottom: 110px solid var(--color-primary-dark);
}

.video-section-title {
  margin: 0;

  text-align: center;
}

.video-section-sub-title {
  margin: 29px 0 30px;

  text-align: center;
}

.video-container {
  position: absolute;

  margin: 0 auto;

  padding: 0 95.5px;
}
